.logo {
  font-weight: 300;
  color: #ffffff;
  font-size: 8em;
  font-family: Arenq, Parley Regular;
}

.lable-date {
  font-weight: lighter;
  color: #ffffff;
  font-size: 13em;
  font-family: Lato;
}

.date-minutes {
  color: #33b5e5;
}

.date-hour, .date-minutes {}

.date-day-name, .date-month-name, .date-day, .date-year {
  font-size: 2.3em;
}

.date-day-text-first {
  font-family: Anurati;
  font-size: 1.9em;
}

.date-day-text-second {
  font-size: 2.3em;
}

.weather_temp {
  font-weight: lighter;
  color: #ffffff;
  font-family: Lato;
  font-size: 1.5em;
}

.weatherIcon {
  background-size: 6em;
  height: 6em;
  width: 6em;
}
